@import url('https://fonts.google.com/css2?family=Roboto&display=swap');

body {
	background-color: #f1f1f1;
	color: #0f141e;

	font-size: 16px;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
}

.avatar {
	width: 200px;
	border-radius: 20px;
	box-shadow: 4px 4px 14px rgba(0, 0, 0, 025%);
}

.info p {
	color: #86898f;
	margin: 0;
	font-style: italic;
	font-weight: bold;
	text-decoration: none;
}

.social {
	background-color: red;
}